/* ACTION BUTTON */
.actionButton {
  border: solid #858585 1px;
  border-radius: 8px;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  background: #bbcbcb;
  color: #4d4b4d;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.actionButton:hover {
  background: #e0f0f0;
  text-decoration: none;
}

/* CENTER TEXT */
.centerText {
	text-align: center!important;
}

/* FIT INPUT */
input.fit {
	width: 99%;
}

/* LOGO */
img.logo {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}

/* MAIN MENU */
nav.mainMenu {
	height: 175px;
	margin: 16px auto;
	width: 99%;
}
nav.mainMenu a {
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	font-weight: bold;
	margin: 6px;
	opacity: 0.6;
	padding: 6px;
	text-decoration: none;
}
nav.mainMenu a.selected {
	opacity: 1;
	text-decoration: underline;
}
nav.mainMenu a.blueButton {
	background-color: #5B74A8;
	border-color: #29447e #29447e #1a356e;
	color: #ffffff;
}
nav.mainMenu a.redButton {
	background-color: #980905;
	border-color: #29447e #29447e #1a356e;
	color: #ffffff;
}

/* TABLE DATA */
table.data {
	border: 1px solid black;
	margin: 16px auto;
	width: 99%;
}
table.data td,
table.data th {
	padding: 4px;
}
table.data th {
	background-color: #bbcbcb;
	text-align: left;
}
table.data tr:last-child {
	background-color: #ffffff!important;
}

/* TABLE EVEN ROWS */
table.evenRows tr:nth-child(odd) {
	background-color: #e0f0f0;
}

/* TABLE FORM */
table.form {
	border: 1px solid black;
	margin: 16px auto;
	width: 99%;
}
table.form td {
	padding: 4px;
}
table.form td:first-child {
	text-align: right;
}
table.form td:last-child {
	text-align: left;
}
