/* TABLE DATA */
table.data {
	border: 1px solid black;
	margin: 16px auto;
	width: 99%;
}
table.data td,
table.data th {
	padding: 4px;
}
table.data th {
	background-color: #bbcbcb;
	text-align: left;
}

/* TABLE EVEN ROWS */
table.evenRows tr:nth-child(odd) {
	background-color: #e0f0f0;
}
