<footer>
	<table align="center">
		<tr>
			<td align="center">
				<img style="margin-bottom: -60px; opacity: 0.1;" src="../img/footer.png"
			</td>
		</tr>
		<tr>
			<td>
					<h3 style="color: rgb(170, 170, 170); margin-top: -8px; font-style: italic; text-align: center;"><span style="font-size:8px;">a project by mparkampas theodosios, 						rebecca stagat, michael polak, dominik wagner, matthias lyrhammer, jakob leupold,</span></h3>
					<h3 style="color: rgb(170, 170, 170); margin-top: -8px; font-style: italic; text-align: center;"><span style="font-size:8px;">pascal sch&uuml;tte, sergio lindo 						mansilla, tobias rammig, mirco leikam, louis matzer</span></h3>
			</td>
		</tr>
	</table>
</footer>

